@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
*{
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
